
.footerContenitoreContatti{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

}

.footerItemContetti{
    flex: 20%;
    padding: 20px;
    
}


.nomeContatti{
    color:  #00FF41;
}
.righeContatti {
    margin-bottom: 0;
    color:  #008F11;
    margin-top: 1px;
}

.time1{
    animation-name: appariScompare;
    animation-duration: 1s; /* La durata totale di un ciclo completo */
    animation-iteration-count: infinite;
}

.time2{
    animation-name: appariScompare2;
    animation-duration: 1s; /* La durata totale di un ciclo completo */
    animation-iteration-count: infinite;
}

.emailDaCopiare:hover{
    cursor: pointer;
    color: #00FF41;
}



@keyframes appariScompare {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: visible; /* Apparizione */
    }
    51% {
        visibility: hidden; /* Scomparsa immediata dopo l'apparizione */
    }
    100% {
        visibility: hidden; /* Scomparsa */
    }
}

@keyframes appariScompare2 {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden; /* Apparizione */
    }
    51% {
        visibility: visible; /* Scomparsa immediata dopo l'apparizione */
    }
    100% {
        visibility: hidden; /* Scomparsa */
    }
}

.scaricaCV{
    border-style: dashed;
}

.scaricaCV:hover{
    cursor: pointer;
    background-color: #00FF41;
    border-color: #00FF41 ;
    
}

.scaricaCV:hover .coloreVerdeChiaro{
    color: #0D0208;
}
.testoContatti{
    color: #008F11;
    display: inline-block;

    width: 100%;
    
}
.testoContatti a{
    text-decoration: none;
}

.testoContatti .coloreVerdeScuro:hover{
    color:  #00FF41;
}
.coloreVerdeScuro{
    color: #008F11;
}

.coloreVerdeChiaro{
    display: block;
    padding: 10px;
    color: #00FF41;
}

@media (max-width:1100px){
    .footerItemContetti{
        flex:25%;
    }
    .scaricaCV{
        width: 15%;
    }
}


@media (max-width:850px){
    .footerItemContetti{
        flex:40%;
    }
    .scaricaCV{
        width: 100%;
    }
}
@media (max-width:580px){
    .footerItemContetti{
        flex:100%;
    }
    .scaricaCV{
        width: 100%;
    }
}




