
.progetti p {
    color: #00FF41;
}

.grigliaProgetti{
    gap: 4px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.grigliaProgetti a:hover{
    color:  #00FF41;
}
.grigliaProgetti a{
    color:  #008F11;
    overflow-wrap: break-word;
}



.steloESottoPocoProgetti{
    border-color:#008F11;;
    padding: 10px;
    border-style: dashed;
    border-top: none;
    border-right:none ;
    border-bottom: none;
}

.vuotoProgetti{
    padding: 10px;
    border-style: none;
    
    
}

.steloESottoProgetti{
    border-color:#008F11;;
    padding: 10px;
    border-style: dashed;
    border-top: none;
    border-right:none ;
}
.sottoProgetti{
    border-color:#008F11;;
    padding: 10px;
    border-style: dashed;
    border-top: none;
    border-right:none ;
    border-left: none;
}

.testoConLinkProgetti{
    position: relative;
    text-align: right;
    top: 10px;
}

.testoConLinkProgettiRoot{
    text-align: left;
}


@media (max-width:730px){
    

    .steloESottoPocoProgetti, .steloESottoProgetti{
        width: 23vw;
    }

}

@media (max-width: 900px){
.sottoProgetti {
    width: 35vw;
    }
}



